.form_control{
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}
.form_control label{
    margin-bottom: 0.5em;
    font-weight: bold; 
    margin-top: 0.8em;
}
.form_control select{
    padding: 0.7em;
    border-radius: 0;
    border: none;
    width: 25em;
}
