.btn{
    background-color: #222;
    color: #ffff; 
    text-decoration: none;
    padding: 0.7em 1.2em;
    cursor: pointer;
    border: none;
    transition: 0.5s;
}
.btn:hover{
    color: #ffbb33;
}