.project_details{
    padding: 2em;
}
.project_details h1,
.project_details h2,
.project_details p{
    margin-bottom: .5em;
}
.project_details h1{
    background-color: #222;
    color: #FFBB33;
    /* width: 60em; */
    /* padding: .3em; */
}
.project_details span{
    font-weight: bold;
    margin-right: .4em;
}
.details_container,
.service_form_container{
    border-bottom: 1px solid #7a7a7a;
    margin-bottom: 1.2em;
    padding-bottom: 1.2em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.details_container p{
    margin-right: .5em;
}

.btn{
    cursor: pointer;
    background-color: #222;
    text-decoration: none;
    padding: 0.5em 1em;
    transition: 0.5s;
    border-radius: 1em;
    border: none;
    margin-bottom: .4em;
    max-width: 120px;
    color: #fff;

}
.btn:hover{
    color: #FFBB33;
}
.project_info{
    width: 100%;
}