.dropdown_menu{
    width: 150px;
    position: absolute;
    top: 80px;
    list-style: none;
    text-align: center;
    margin-top: -20px;
    border: none;
}
.dropdown_menu li{
    cursor: pointer;
    padding: 5px;
    margin-top: 5px;    

}
.dropdown_menu li:hover{
    color: #FFBB33;
}
.dropdown_menu.clicked{
    display: none;
}
.dropdown_link{
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #222;
    padding: 26px;
}